# SPDX-FileCopyrightText: Copyright (c) 2026, the k-cache developers
#
# SPDX-License-Identifier: Apache-2.0

# local build artifacts — regenerated inside the builder stage
kcache
kcache_bpfel.go
kcache_bpfeb.go
kcache_bpfel.o
kcache_bpfeb.o
