# SPDX-FileCopyrightText: Copyright (c) 2026, the k-cache developers
#
# SPDX-License-Identifier: Apache-2.0

/kcache
kcache_bpfel.go
kcache_bpfeb.go
*.o
docs/
NEXT_PHASE.md
coverage.out
coverage.html
